	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #ffffff ;
		font-family: 'Open Sans', Arial, sans-serif;;
		font-size: 11pt;
/*		font-weight: 300;*/
		color: #000000;
	}
	
	
/*	h1, h2, h3
	{
		margin: 0;
		padding: 0;
		font-weight: 600;
		color: #454445;
	}*/
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;

	}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
	}
	
	a
	{
		color: #2372DE;
	}
	
	a:hover,a:active
	{
   decoration:none;
	}
	
	.container
	{
		margin: 0px auto;
		height:auto;
		
		
	}


	.entry {

	text-align: justify;
}
/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.style1
	{
		margin: 0;
		padding: 0em 0em 0em 0em;
		overflow: hidden;
		list-style: none;
		color: #6c6c6c
	}
	
	ul.style1 li
	{
		overflow: hidden;
		display: block;
		padding: 2.80em 0em;
		border-top: 1px solid #D1CFCE;
	}
	
	ul.style1 li:first-child
	{
		padding-top: 0;
		border-top: none;
	}
	
	ul.style1 .image-left
	{
		margin-bottom: 0;
	}
	
	ul.style1 h3
	{
		padding: 1.2em 0em 1em 0em;
		letter-spacing: 0.10em;
		text-transform: uppercase;
		font-size: 1.2em;
		font-weight: 600;
		color: #454445;
	}
	
	ul.style1 a
	{
		text-decoration: none;
		color: #525252;
	}

	ul.style1 a:hover
	{
		text-decoration: underline;
		color: #525252;
	}

	ul.style2
	{
		margin: 0;
		padding-top: 1em;
		list-style: none;
	}
	
	ul.style2 li
	{
		border-top: solid 1px #E5E5E5;
		padding: 0.80em 0;
	}
	
	ul.style2 li:first-child
	{
		border-top: 0;
		padding-top: 0;
	}

/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
	{
		margin: 0;
		list-style: none;
	}
	
	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.30em;
		font-size: 1em;
	}
	
	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.contact li a
	{
		color: #FFF;
	}
	
	ul.contact li a:before
	{
		display: inline-block;
		background: #3f3f3f;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #FFFFFF;
	}
	
	ul.contact li a.icon-twitter:before { background: #2DAAE4; }
	ul.contact li a.icon-facebook:before { background: #39599F; }
	ul.contact li a.icon-dribbble:before { background: #C4376B;	}
	ul.contact li a.icon-tumblr:before { background: #31516A; }
	ul.contact li a.icon-rss:before { background: #F2600B; }

	.title


.title p {
  display: table-cell; 
  vertical-align: middle; 
  text-align: left; 
}

	.title h2
	{
		font-weight: 400;
		font-size: 2.8em;
		color: #000000;
	}
	
	.title .byline
	{
		letter-spacing: 0.15em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.1em;
		color: #6F6F6F;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
	
	#header-wrapper
	{
	}

	#header
	{
		position: relative;
		height: 50px;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
    position: absolute;
    left: 0px;
	top: 0px;
height: 50px;

	width: 300px;
	}
	
	#logo h1
	{
	display: inline-block;
	font-size: 2.5em;
	text-transform: uppercase;
	font-weight: 700;
	color: #FFF;
	position:relative;
	width: 300px;
    margin-top:10px;
	}
	
	#logo a
	{
		text-decoration: none;
		color: #FFF;
	}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{
	position: absolute;
    right: 0px;
	top: 0px;

	width: 500px;

	}
	
	#menu ul
	{
		display: inline-block;
	}
	
	#menu li
	{
		display: block;
		float: left;
		text-align: center;
	}
	
    #menu2
	{
	margin:40px;
	}
    
    #menu2 li
	{
list-style-type :none;}
	#menu li a, #menu li span
	{
		display: block;
		padding: 0em 1.5em;
		height: 50px;
		letter-spacing: 0em;
		line-height: 50px;
		text-decoration: none;
		
		font-weight: 600;
		text-transform: uppercase;
		outline: 0;
		color: #ACCFFF;
		margin:auto;
	}
	
	#menu li:hover a/*, #menu li.active a, #menu li.active span*/
	{
		background: #2A76DC;
		color:  #ACCFFF;
	}
	
	#menu .current_page_item a
	{
		background: #2A76DC;
		color: #FFF;
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/
	
	#banner-wrapper
	{
		overflow: hidden;
		padding: 5em 0em;
		background: #F6F6F6;
	}

	#banner .box-left
	{
		float: left;
		margin-top:10px;
		margin-left:10px;
		width: 350px;
        height:1700px;

	background-color: #FFFFFF;
	}

	#banner .box-right
	{
		float: right;
	}
	
	#banner h2
	{
		margin: 0em;
		padding: 0em;
		font-weight: 400;
		font-size: 3em;
		color: #3E454C;
	}
	
	#banner span
	{
		display: block;
		padding-top: 0.50em;
		font-size: 1.4em;
		color: #2372DE;
	}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#wrapper
	{

        height:auto;
	}
	
	#page
	{
		overflow: hidden;
		background: #ffffff;
		padding: 2em 0em 0em 3em;
		margin-top:1em;
		
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/
	.portfoliolist
	{
		float: left;
		margin-left:10px;
		margin-bottom:10px;
		width: 350px;
        height:250px;
	}
	
	#content
	{
		float: left;
		margin-left:10px;
		margin-bottom:10px;
		width: 350px;
        height:450px;
    border: 2px solid rgba(0,0,0,.1);
	box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.03);
	background-color: #FFFFFF;
	}
	#content-right
	{
		position: center;
    float:left;

		margin-left:10px;
        margin-right:10px;
		margin-bottom:10px;
        padding:10px;
		width:500px;
        height:500px;
        text-align: justify;
		background-color:#FF8D8F

	background-color: #FFFFFF;
	}

	#latest-news
	{
	
    float:left;

		margin:10px;
        padding:10px;
		width:300px;
        height:auto;
        text-align: justify;

	background-color: #FFFFFF;
	}
	#content-right p
	{
   text-size:15px;
	}
	#content-detail
	{
		position: center;
        float:left;
		margin-left:10px;
		margin-bottom:10px;
		width: 700px;
        height:auto;

	background-color: #FFFFFF;
	}
	#content-detail p
	{
 text-align:justify;
	}
	
	
	#content h2
	{
    text-align: center;
	margin-bottom:3px;
	}
	
	#content h3
	{
    text-align: center;
	margin-bottom:3px;
	color:#FFFFFF;
	}
	
	#content p
	{
	padding:10px;
    text-align: justify;
		font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	color:red;
	}
/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
		float: left;
		width: 400px;
			list-style:none;
	text-decoration: none;
	}
#sidebar a {
	display: block;
	background: #ACCFFF;
	color: #FFFFFF;
	padding: 5px 0 5px 19px;
	margin: 0 0 1px 0;
	list-style:none;
	text-decoration: none;
	
/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: 5em 0em;
	}
	
	#copyright p
	{
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.80em;
		color: #FFFFFF;
	}
	
	#copyright a
	{
		text-decoration: none;
		color: #ACCFFF;
	}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

	#featured-wrapper
	{
		overflow: hidden;
		padding: 5em 0em;
		background: #FFF;
		text-align: center;
	}
	
	#featured .major
	{
		overflow: hidden;
		margin-bottom: 3em;
		padding-bottom: 2em;
		border-bottom: 1px solid #E8E8E8;
	}

	#featured .major h2
	{
		font-size: 3em;
	}


	#featured .major .byline
	{
		font-size: 1.3em;
	}

	#featured .title
	{
		margin-bottom: 1em;
	}
	
	#featured .title h2
	{
		font-size: 1.2em;
	}
	
	#featured h2
	{
		text-align: center;
	}

	#featured .icon
	{
		position: relative;
		display: block;
		margin: 0px auto 20px auto;
		line-height:  normal;
		font-size: 6em;
		text-align: center;
		color: #2372DE;
	}

	.column1,
	.column2,
	.column3,
	.column4
	{
		width: 282px;
	}
	
	.column1,
	.column2
	{
		float: left;
		margin-right: 24px;
	}
	
	.column3
	{
		float: left;
	}
	
	.column4
	{
		float: right;
	}


/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

#footer {
	height: 15px;
	margin: 10px;
	padding: 5px 100px;
	background:#3873b2;
	

}
    .copyright
	{
		margin: 0px auto;
		width: 1150px;
        padding:10px;
		height:auto;
		
		
	}
    .copyright p {
	margin: 0px;
	position:center;
	line-height: normal;
	text-align: right;
	color:#FFFFFF;

}

/*********************************************************************************/
/* Feature content                                                               */
/*********************************************************************************/

#featured-content {
	overflow: hidden;
	width: 1000px;
	margin: 0px auto;
	padding: 0px 0px 30px 0px;
}

#featured-content h2 {
	padding: 0px 0px 20px 0px;
	font-size: 30px;
}

#featured-content #column1 {
	float: left;
	width: 300px;
	margin-right: 50px;
}

#featured-content #column2 {
	float: left;
	width: 300px;
}

#featured-content #column3 {
	float: right;
	width: 300px;
}
/*********************************************************************************/
/* JS                                                               */
/*********************************************************************************/

        #lean_overlay { position: fixed; z-index: 100; top: 0px; left: 0px; height: 100%; width: 100%; background: #000; display: none; }
        #OpenWindow { background: none repeat scroll 0 0 #FFFFFF; border-radius: 5px 5px 5px 5px; box-shadow: 0 0 4px rgba(0, 0, 0, 0.7); display: none; padding-bottom: 2px; width: 404px; z-index: 11000; left: 50%; margin-left: -202px; opacity: 1; position: fixed; top: 200px; }
        #OpenWindow-header { background: url("Image/hd-bg.png") repeat scroll 0 0 transparent; border-bottom: 1px solid #CCCCCC; border-top-left-radius: 5px; border-top-right-radius: 5px; padding: 18px 18px 14px; }
        .modal_close { background: url("Image/modal_close.png") repeat scroll 0 0 transparent; display: block; height: 14px; position: absolute; right: 12px; top: 12px; width: 14px; z-index: 2; }
        body { font-size: 11px; }
        #OpenWindow .txt-fld { border-bottom: 1px solid #EEEEEE; padding: 14px 20px; position: relative; text-align: right; width: 364px; }
        #OpenWindow .txt-fld input { background: none repeat scroll 0 0 #F7F7F7; border-color: #CCCCCC #E7E6E6 #E7E6E6 #CCCCCC; border-radius: 4px 4px 4px 4px; border-style: solid; border-width: 1px; color: #222222; font-family: "Helvetica Neue"; font-size: 1.2em; outline: medium none; padding: 8px; width: 244px; }
        #OpenWindow .txt-fld input.good_input { background: url("Image/good.png") no-repeat scroll 236px center #DEF5E1; }
        #OpenWindow .btn-fld { overflow: hidden; padding: 12px 20px 12px 130px; width: 254px; }
        button { background: none repeat scroll 0 0 #3F9D4A; border: medium none; border-radius: 4px 4px 4px 4px; color: #FFFFFF; float: left; font-family: Verdana; font-size: 11px;  color:#FFFFFF;overflow: visible; padding: 5px 5px; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4); width: auto; text-decoration:none;}



#reg1{
        background: none repeat scroll 0 0 #FFFFFF; 
		border-radius: 5px 5px 5px 5px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.7); 
		display: none; 
		padding-bottom: 2px; 
		width: 700px;
        z-index: 11000; 
		left: 50%; 
		margin-left: -202px; 
		opacity: 1; 
		position: fixed;
        top: 50px; 
	}

#reg2{
        background: none repeat scroll 0 0 #FFFFFF; 
		border-radius: 5px 5px 5px 5px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.7); 
		display: none; 
		padding-bottom: 2px; 
		width: 700px;
        z-index: 11000; 
		left: 50%; 
		margin-left: -202px; 
		opacity: 1; 
		position: fixed;
        top: 50px; 
	}
#reg3{
        background: none repeat scroll 0 0 #FFFFFF; 
		border-radius: 5px 5px 5px 5px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.7); 
		display: none; 
		padding-bottom: 2px; 
		width: 700px;
        z-index: 11000; 
		left: 50%; 
		margin-left: -202px; 
		opacity: 1; 
		position: fixed;
        top: 50px; 
	}
#reg4{
        background: none repeat scroll 0 0 #FFFFFF; 
		border-radius: 5px 5px 5px 5px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.7); 
		display: none; 
		padding-bottom: 2px; 
		width: 700px;
        z-index: 11000; 
		left: 50%; 
		margin-left: -202px; 
		opacity: 1; 
		position: fixed;
        top: 50px; 
	}
#reg5{
        background: none repeat scroll 0 0 #FFFFFF; 
		border-radius: 5px 5px 5px 5px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.7); 
		display: none; 
		padding-bottom: 2px; 
		width: 700px;
        z-index: 11000; 
		left: 50%; 
		margin-left: -202px; 
		opacity: 1; 
		position: fixed;
        top: 50px; 
	}
/*********************************************************************************/
/* Content popup                                                                      */
/*********************************************************************************/

	#contentpopup
	{
		
		width: 700px;
 
	}
	#contentpopup h2
	{
    text-align: center;
	margin-bottom:3px;
	}
	
	#contentpopup h3
	{
    text-align: center;
	margin-bottom:3px;
	color:#000000;
	}
	
	#contentpopup p
	{
	padding:10px;
    text-align: justify;
	color:#000000;
	}

/* white */
.white {
	color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover {
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:active {
	color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
	background: -moz-linear-gradient(top,  #ededed,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}



#portfolio-block {
width: 100px;
hight: 300px;
background-color:#FF9698	
}

.content:active {
    background-color:red;
}

.active {
    background-color:red;
}

p.projectname {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	color:red;
	}
#star {
  background-color: red;
  width: 54px;
  height: 51px;
  z-index: 32;

}
.navbar-header {
    
}



.onhover:hover{
    background-color: #000;
}

    
 .cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(232, 98, 86, 0.8) url(images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;

.socialmedia {
    margin: 20px;
    width: 200px;;
    height: 100px;
    background-color: black;
    
}

.smicon  img{
    background-color: #918232;
    padding: 20px;
}
